 <!-- Just the Title -->
<div class="container">
    <div class="other-title">
     <div class="col-sm-12 col-md-9">
        <h1>Schedule</h1>
        <h3>LecDems, Workshops, Social Events</h3>
      </div>
  <div class="col-sm-12 col-md-3"></div> <!-- Right Column -->
</div>
<!-- Title End -->


<!-- Main written content -->
<div class="container">

    <!-- <p><h4>Video Live Stream: <a href="https://streaming.media.ccc.de/sonoj2023">https://streaming.media.ccc.de/sonoj2023</a></h4></p> -->

    <!-- <p>All times are given in Central European Time, which is UTC+1.</p> -->
    <!-- <p>All times are given in Central European Summer Time, which is UTC+2 (summer time) on Saturday and UTC+1 on Sunday.</p> -->
    <p>All times are given in Central European Summer Time, which is UTC+2.</p>

    <table width="100%" border="1">
        <tr>
            <th>Time</th>
            <th>Title</th>
            <th>Speaker</th>
        </tr>

        <tr>
            <td>Sat 10:40 - 11:00</td>
            <td>Welcome</td>
            <td>Nils Hilbricht (Sonoj)</td>
        </tr>

        <tr>
            <td>Sat 11:00</td>
            <td>Block A - Lecture-Demonstrations</td>
            <td></td>
        </tr>

        <!-- Example Entry for copy and paste
        <tr>
            <td></td>
            <td>Past, Present and Future of the JACK Audio Connection Kit</td>
            <td></td>
        </tr>
        -->

        <tr>
            <td></td>
            <td>Performing live with Ardour</td>
            <td>Julia Cramer and Sven(this.ven)</td>
        </tr>

        <tr>
            <td></td>
            <td>Digital Vinyl DJing with Pis.</td>
            <td>Darko „Spintaneous“ Jankovic</td>
        </tr>

        <tr>
            <td></td>
            <td>Bespoke Synth for live music performances</td>
            <td>Tobiasz 'unfa' Karoń</td>
        </tr>

        <tr>
            <td>Sat 14:00</td>
            <td>Group Photo</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>Break</td>
            <td></td>
        </tr>

        <tr>
            <td>Sat 15:30</td>
            <td>Block B  - Lecture-Demonstrations</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>Groovebox, Looper & Sampler in the browser</td>
            <td>Alex Milanov</td>
        </tr>

        <tr>
            <td></td>
            <td>How to write a digital folk punk song in 40 minutes</td>
            <td>Mona Lange</td>
        </tr>

        <!-- Example Entry for copy and paste
        <tr>
            <td></td>
            <td>Vital: Introducing a new revolutionary wavetable synthesizer</td>
            <td>Tobiasz 'unfa' Karoń</td>
        </tr>
        -->

        <tr>
            <td></td>
            <td>Open Mic</td>
            <td>Present your music live in 15 minutes or less. <a href="https://sonoj.org/2024/contact.html">Contact the team</a> to book a slot in advance.</td>
        </tr>

        <tr>
            <td>Sat Evening and Night</td>
            <td>Get-together to talk, network (and maybe make some music in our Music Room).</td>
            <td></td>
        </tr>


        <tr>
            <td></td>
            <td>…</td>
            <td></td>
        </tr>


        <tr>
            <th>Time</th>
            <th>Title</th>
            <th>Speaker</th>
        </tr>

        <tr>
            <td>Sun 11:00</td>
            <td>Community Day - There will be food.</td>
            <td></td>
        </tr>

        <!-- Example Entry for copy and paste
        <tr>
            <td></td>
            <td>Composition after the first minute of creativity is spent: style-agnostic tricks and techniques of all eras.</td>
            <td>Nils Hilbricht</td>
        </tr>
        -->

        <tr>
            <td></td>
            <td>Exploration Stations: In the room, various stations will be set up to showcase and discuss different topics,
            such as hardware, instruments, custom software, demos, etc.
            These can either be self-running exhibits or interactive discussions with the presenters,
            individually or in small groups. Informal Show and Tell character.</td>
            <td>Open Participation</td>
        </tr>

        <tr>
            <td></td>
            <td>The Big Quiz of 2024: The no-stakes quiz about Music, FOSS Audio Production and the Sonoj Community. Anonymous participation through a website. </td>
            <td>Everyone</td>
        </tr>

        <tr>
            <td></td>
            <td>Break (and preparation for the following challenge)</td>
            <td></td>
        </tr>

        <tr>
            <td>Sun 14:00 - 16:00</td>
            <td>One Hour Challenge. <small>It's two hours because we listen to the music and vote afterwards.</small></td>
            <td>Everyone</td>
        </tr>

        <tr>
            <td>Sun 16:00 - 16:10</td>
            <td>Farewell</td>
            <td></td>
        </tr>

    </table>

    </div> <!-- end spacing -->

    </div>
</div>
<!-- End main written content -->
