<!-- Just the Title -->
<div class="container">
    <div class="other-title"> 
     <div class="col-sm-12 col-md-9">
        <h1>Frequently Asked Questions, Rules</h1>        
        <h3>and Other Topics of Interest</h3>
      </div>  
  <div class="col-sm-12 col-md-3"></div> <!-- Right Column -->
</div>      
<!-- Title End -->


<!-- Main written content -->
<div class="container">      
    <div class="spacing">      
        
    </div>
</div>
<!-- End main written content --> 

