  <div class="container">
    <div class="other-title">
      <div class="col-sm-12 col-md-9">
        <h1>Speakers 2024</h1>
        <h3>You could be one of them!</h3>
      </div>
      <div class="col-sm-12 col-md-3"></div>
    </div>


    <!-- START Speaker Search-->

    <div class="container">
    <div class="subscribe">


     <h3>We are looking for speakers for demonstrations, tutorials, talks and lectures. If you would like to make a contribution,
     please send an informal and short e-mail with your ideas to <a href="mailto:info@sonoj.org">info@sonoj.org</a>
     or use our <a href="https://chat.sonoj.org"><i class="fw-icon-comments"></i>Chat (Matrix)</a> to just write in the public room.
     </h3>
     <h3>Do you have any wishes, who or what you would like to see? Then give us a suggestion.</h3>


    </div>
    <div class="ruler"></div>
    </div>

    <!-- END Speaker Search-->



    <span id="Start first Row"></span>
    <div class="container">
      <div class="featured-blocks">

          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-karon.jpg" class="bw" alt="">
              <div class="caption">
                <h3>Tobiasz 'Unfa' Karoń</h3>
                <h4>Warsaw, Poland</h4>
                <p>
                Tobiasz Karoń, commonly known as unfa is a music producer, vocalist and a graphic designer. He's exclusively using open-source software and Linux
                for all his work.</p>
                <p><a href="http://www.unfamusic.com" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                <a href="https://www.facebook.com/unfamusic/" class="btn btn-default" role="button"><i class="fw-icon-facebook"></i></a>
                <a href="https://www.youtube.com/unfa000" class="btn btn-default" role="button"><i class="fw-icon-youtube"></i></a>
                <a href="https://unfa.bandcamp.com/" class="btn btn-default" role="button"><i class="fw-icon-volume-up"></i></a></p>
              </div>
            </div>
        </div>

          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-thisven2024.jpg" class="bw" alt="Photo of this.ven">
              <div class="caption">
                <h3>Sven(this.ven)</h3>
                <h4>Mönchengladbach, Germany</h4>
                Whenever Sven engages in a project he naturally chooses Free/Libre Open Source Software.
                As a graduate of media engineering and computer science his focus is networked audio,
                IT security and privacy. He plays guitar and produces music as this.ven.
                </p>
                <p>
                    <a href="https://this.ven.uber.space/" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-none.jpg" class="bw" alt="No photo of Julia Cramer">
              <div class="caption">
                <h3>Julia Cramer</h3>
                <h4>Bergisch-Gladbach, Germany</h4>
                <p>
                    Julia is a musician, conductor, vocal coach and linux user. She teaches Jazz Choir at the Cologne University of Music,
                    leads several vocal ensembles and is working towards her Ph.D. in music education.
                    All her digital creative work is carried out through open source software and she
                    published several articles on the possibilites of how to work digitally with choirs during the pandemic.
                </p>
                <p>
                    <!-- social links -->
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-jankovic.jpg" class="bw" alt="Photo of Darko Jankovic">
              <div class="caption">
                <h3>Darko „Spintaneous“ Jankovic</h3>
                <h4>Cologne, Germany</h4>
                <p>
                    A DJ not only by initials, but by favourite pastime also, Darko found a passion in making OSS
                    viable for „serious audio work“. He attended Sonoj 2023, got inspired by a Raspberry-Pi-powered
                    guitar pedal and an open source DJ mixer, and immediately began exploring the Pi’s potential as a
                    dependable (and affordable) pro audio platform.
                </p>
                <p>
                    <!-- social links -->
                </p>
              </div>
            </div>
          </div>

        </div id="End_Row">


        </div>
    </div id="End_Featured_Block">
  </div id="End_Container">


    <span id="Start second Row"></span>
    <div class="container">
    <div class="featured-blocks">
    <div class="row">

         <div class="row">

        <!--
          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-hannah.jpg" class="bw" alt="Photo of uncanny_static">
              <div class="caption">
                <h3>uncanny_static</h3>
                <h4>Germany</h4>
                <p>
                    Self-producing musician, explorer of the musical space between indie pop and EDM.
                </p>
                <p>
                    <a href="https://chaos.social/@uncanny_static" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                    <a href="https://soundcloud.com/uncanny-static" class="btn btn-default" role="button"><i class="fw-icon-volume-up"></i></a>
                </p>
              </div>
            </div>
          </div>
          -->

          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-mona.jpg" class="bw" alt="Photo of mona">
              <div class="caption">
                <h3>Mona Lange</h3>
                <h4>Germany</h4>
                <p>
                    IT-sysadmin, watercolor artist and singer songwriter.
                </p>
                <p>
                    <a href="https://mastodon.art/@jarwski" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                    <a href="https://monamesh.bandcamp.com/album/caas-coping-as-a-service" class="btn btn-default" role="button"><i class="fw-icon-volume-up"></i></a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-alex-milanov.jpg" class="bw" alt="Photo of Alex Milanov">
              <div class="caption">
                <h3>Alex Milanov</h3>
                <h4>Bulgaria</h4>
                <p>
                    Musician, software developer &amp; FOSS enthusiast. Daily driving Linux for
                    20+ years. Has had several pure FOSS music making periods. Music
                    interests range from experimental electronic to purely acoustic world
                    music, with some jazz, blues, soul &amp; funk sprinkled in for good measure
                    ... Organizes jam sessions and educational events in Bulgaria. Has
                    developed several web based music apps and some PI/teensy projects.
                </p>
                <p>
                    <a href="https://github.com/alex-milanov" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                    <a href="https://www.instagram.com/alex_milanov_" class="btn btn-default" role="button"><i class="fw-icon-volume-up"></i></a>
                </p>
              </div>
            </div>
          </div>

          </div id="End_Row">

        </div>
    </div id="End_Featured_Block">
  </div id="End_Container">
