
    <div class="container">
      <div class="banner">
        <div class="banner-item">
          <div class="box1 radi-c1">
            <h3>19th and 20th October 2024</h3>
          </div>
        </div>
        <div class="banner-item">
          <div class="box2 radi-c2">
            <h3>Free entry, Not-for-profit</h3>
          </div>
        </div>
        <div class="banner-item">
          <div class="box3 radi-c4">
            <h3>Engaging Speakers</h3>
          </div>
        </div>
        <div class="banner-item ">
          <div class="box4 radi-c3">
            <h3>Cologne, Germany</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="main-title">
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <h1>The Sonoj Convention is an annual event in Cologne, Germany about music production with free and open source software.</h1>
              <h3>It features demonstrations, talks and hands-on workshops. Meet like-minded people, learn insider knowledge and tricks, and participate in our one-hour production challenge!</h3>
            </div>
            <div class=" col-sm-12 col-md-3">

            <a href="donate.html" class="btn pull-right" style="text-decoration: none;"><i class="fw-icon-arrow-right"></i>Help with your donation</a>
          </div>
        </div>
      </div>
      <div class="ruler"></div>
    </div>


    <!-- Visitor Registration Bar -->
    <div class="container">
      <div class="subscribe">
        <h1>Visitor</h1>

        <form class="form-inline " role="form" action="#" id="registration-form">
          <div class="row">
            <div class="form-group  col-md-4">
              <label class="sr-only" for="fullname">Your Full Name</label>
              <input type="text" class="form-control " id="fname" name="fname" placeholder="Your Full Name">
            </div>
            <div class="form-group col-md-4">
              <label class="sr-only" for="emailaddress">Password</label>
              <input type="email" class="form-control  " id="email" name="email" placeholder="E-Mail Address">
            </div>

            <button type="submit" class="btn btn-default" id="registration-submit-btn">Register</button>
          </div>
        </form>

        <p class="inverted">Entry is free. Your registration is valid for both days.
        You can also write directly to <a href="mailto:info@sonoj.org">info@sonoj.org</a>.</p>
      </div> <!-- subscribe end-->

      <div class="ruler"></div>
    </div>  <!-- registration container end-->

    <div class="container">
      <div class="featured-items">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <i class="fw-icon-map-marker"></i>

              <h2>When and Where?</h2>

              <p>19th and 20th October 2024. Starts Saturday, 10:40 CST, ends Sunday, 16:00 CST.
              Heliosstr. 6a, 50825 Cologne, Germany.<br>
              Read more about travelling and accomodation in the <a href="faq.html">FAQ</a>.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="block">
              <i class="fw-icon-user"></i>

              <h2>Who?</h2>

              <p>All are welcome, no matter the musical or technological background or capabilities. To take part in the one-hour challenge on Sunday, bring your computer/instrument!</p>
            </div>
          </div>
        </div>
        <div class="row spacing-t">
          <div class="col-md-6">
            <div class="block">
              <i class="fw-icon-music "></i>

              <h2>Craft and Knowledge</h2>

              <p>Undocumented, secret processes, techniques and principles are
              transformed into knowledge benefitting the general public via a <a href="https://streaming.media.ccc.de/sonoj2024">live
              video feed</a> and the <a href="https://media.ccc.de/b/conferences/sonoj">archive</a>.
              </p>

            </div>
          </div>
          <div class="col-md-6">
            <div class="block">
              <i class="fw-icon-heart "></i>

              <h2>Independent Event</h2>

              <p>The Sonoj Convention is not-for-profit, not sponsored, organized by volunteers, and free from outside pressure to feature certain speakers or topics. Everything is paid for by <a href="donate.html">donations</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
