


 <!-- Just the Title -->
<div class="container">
    <div class="other-title">
     <div class="col-sm-12 col-md-9">
        <h1>Imprint and Contact Information</h1>
      </div>
  <div class="col-sm-12 col-md-3"></div> <!-- Right Column -->
</div>
<!-- Title End -->





<!-- Main written content -->
<div class="container">

    <div class="spacing">
    <h2>Organizers</h2>
        <p>The Sonoj Convention is organized by <a href="https://www.hilbricht.net">Nils Hilbricht</a> and the <a href="https://www.osamc.de">Open Source Audio Meeting Cologne</a></p>
        <p>For all topics please contact <a href="mailto:info@sonoj.org">info@sonoj.org</a></p>
    </div>

    <div class="spacing">
        <h2>Press Material</h2>
        <p>
        You can use our logo by either downloading it and upload it to your server or by directly linking the files below.<br>
        You can scale it, change the color or file format. You can impose it on top of related images as logo or "watermark". Use it in any way, as long as it is related to the actual Sonoj Convention.<br>
        <br>
        The logo is <b>not</b> under a permissive license and can only be used in a press or documentary context. (free of charge, no royalties, no attribution)
        </p>
        <p>
        Click <a href="https://www.sonoj.org/logos">here</a> to see all logo files and formats.<br> <a href="https://www.sonoj.org/logos">https://www.sonoj.org/logos</a>
        </p>
    </div>

    <div class="spacing">
        <h2>Third Party Copyright and Licenses</h2>
        <ul>
          <li>Website Design Template by <a href="http://alltemplateneeds.com">alltemplateneeds.com</a></li>
          <li>Photo "Enable the Community" by Christopher Arndt, 2017</li>
          <li>Home page photos: "Group", "DJ-Equipment", "Lecture" by Marc Groenewegen, 2018</li>
        </ul>
    </div>

</div>
<!-- End main written content -->
