<!-- Just the Title -->
<div class="container">
  <div class="other-title">
    <div class="col-sm-12 col-md-9">
      <h1>Frequently Asked Questions</h1>
      <h3>Rules and Other Topics of Interest</h3>
    </div>
    <div class="col-sm-12 col-md-3"></div> <!-- Right Column -->
  </div>
</div>
<!-- Title End -->

<!-- Main written content -->
<div class="container">
  <div class="spacing">

    <h3>Organization</h3>

    <p><h4>When?</h4>
    Saturday, 19th October and Sunday, 20th October 2024. Program begins at 10:40 a.m. CST.</p>

    <p><h4>Where?</h4>
    Chaos Computer Club Cologne - Heliosstrasse 6a 50825 Cologne, Germany<br>
    Website of CCCC: <a href="https://koeln.ccc.de/">https://koeln.ccc.de/</a><br>
    OpenStreetMaps link to the venue: <a href="https://osm.org/go/0GC9nD9u_?m=">https://osm.org/go/0GC9nD9u_?m=</a></p>

    <p><h4>Am I "qualified" to participate? / Do I need to use Linux?</h4>
    There are no requirements for our visitors, especially no technical or musical ones. This explicitely means there is neither a requirement to make a certain style of music nor to use certain programs or operating systems.</p>

    <p><h4>Do I need to register as a visitor?</h4>
    Yes, you have to. Registration is mandatory and can be done per mail with your name to <a href="mailto:info@sonoj.org">info@sonoj.org</a> or with a form on the <a href="index.html">main page</a>. You will be asked to confirm your attendance by e-mail a few weeks before the event.</p>

    <p><h4>How much does it cost to visit the Sonoj Convention?</h4>
    Admission is free. However, we still have expenses that we would like to cover with your donations. As described above, donations can be made in cash during the event or in advance by internet transfer. Expenditure includes insurance, electricity, water, food, logistics, etc.</p>

    <p><h4>Do I get paid as a speaker?</h4>
    Sadly not. We don't have a budget to even cover the travel expenses (not for ourselves as well). If you want to hold a presentation we can try to arrange a place to stay overnight for free (no guarantees!). This will not be a hotel but a private room of a volunteering organizer.</p>

    <p><h4>Do I need to register twice as speaker and visitor?</h4>
    Accepted speakers do not need to register as visitor again. However, if you did: do not worry. Everything is processed by hand anyway and we are able to work with these issues.</p>

    <p><h4>Can I cancel my registration?</h4>
    Yes, please write us a mail to <a href="mailto:info@sonoj.org">info@sonoj.org</a>. Please note that we won't refund any donations made up to this point. Consider it a good deed.</p>

    <p><h4>Are donations tax-deductible?</h4>
    While we operate on a cost-covering basis without profit intentions, we are not recognised as a "charitable
    organisation" under German law. Therefore, donations to Sonoj are not tax-deductible in Germany.</p>

    <h3>The Venue and Surroundings</h3>

    <p><h4>The Venue</h4>
    The Venue is on high ground level. Normal entrance is by stairs but there is a ramp and an elevator meant for delivering goods that can be used for e.g. wheelchairs. Please <a href="mailto:info@sonoj.org">contact</a> us if you need this as we need to open a lock first.<br>
    The venue provides unisex bathrooms but has no dedicated area for small children or a diaper changing table.</p>

    <p><h4>Internet Access</h4>
    The venue provides an open WLAN. Its costs are covered by your donations.</p>

    <p><h4>Forbidden</h4>
    Please no animals except service animals<br>
    No smoking inside<br>
    The rules of our host <i>Chaos Computer Club Cologne</i> <a href="https://koeln.ccc.de/">https://koeln.ccc.de/</a> apply<br></p>

    <p><h4>Traveling</h4>
    The venue is located directly near the Train Station "Bahnhof Köln Ehrenfeld" <a href="https://en.wikipedia.org/wiki/K%C3%B6ln-Ehrenfeld_station">(Wikipedia Link)</a> which is itself quickly and easy to reach from Cologne Central Station or from outside the city.<br>
    Also nearby is the subway station "Venloer Strasse".</p>

    <p><h4>Parking</h4>
    Parking for cars in the area is generally free of charge. The venue itself has no parking spots of its own. Since Cologne Ehrenfeld is a densely populated area there is no guarantee to get a spot. There are commercial parking garages in the area which you have to research yourself.<br>
    If you don't want to try your parking luck it is advised to use a train station with a huge free parking area like <a href="https://www.bahnhof.de/bahnhof-de/K%C3%B6ln-Weiden_West-1032956">"Koeln-Weiden West"</a> and travel 10 minutes by train and by foot to the venue.
    </p>

    <p><h4>Food</h4>
    The district Cologne Ehrenfeld is a central district. There are many shops, takeaways, restaurants and convenience stores very near. The adjacent building is a supermarket.<br>
    The venue itself provides snacks and drinks to buy. Tap-water is free (the quality of tap water in Cologne is very good and officially recommended to drink). In this case it is convenient and sanitary to bring your own refillable bottle.<br>
    </p>

    <p><h4>Accommodations</h4>
    The district Cologne Ehrenfeld is a central district. There are many cheap and expensive hotels and a lot of people that offer private rooms and beds in the area. We have no recommendations or sponsored agreements with any of them so please do your own research. The very nearby train and subway station make it possible to widen the search. If you are a speaker we maybe can arrange a private bed for free from a volunteering organizing member.</p>

    <p><h4>What should I wear?</h4>
    There is no dress code. Wear what you want, but check the weather.</p>

    <h3>Misc</h3>

    <p><h4>What is the meaning of "Sonoj"?</h4>
    Sonoj is <a href="https://en.wikipedia.org/wiki/Esperanto">Esperanto</a> and means just "sounds"</p>

    <p><h4>Is the Sonoj Convention organized by the Chaos Computer Club (Cologne)?</h4>
    No, it is an independent event. The club provides the rooms.</p>

    <p><h4>Can I use the logo to write about the Sonoj Convention?</h4>
    Yes. You can use our images directly as linked-in on your own site or download/reupload it yourself.<br>
    You can scale it, change the color or file format<br>
    The logo is <strong>not</strong> under a permissive license and can only be used in a press or documentary context. (free of charge, no royalties, no attribution)<br>
    </p>

    <p>Click <a href="https://www.sonoj.org/logos">here</a> to see all logo files and formats.<br> <a href="https://www.sonoj.org/logos">https://www.sonoj.org/logos</a></p>

  </div>
</div>
<!-- End main written content -->
