  <div class="container">
    <div class="other-title">
      <div class="col-sm-12 col-md-9">
        <h1>Speakers 2023</h1>
        <!-- <h3>You could be one of them!</h3> -->
      </div>
      <div class="col-sm-12 col-md-3"></div>
    </div>


    <!-- START Speaker Search-->
    <!--
    <div class="container">
    <div class="subscribe">


     <h3>We are looking for speakers for demonstrations, tutorials, talks and lectures. If you would like to make a contribution,
     please send an informal and short e-mail with your ideas to <a href="mailto:info@sonoj.org">info@sonoj.org</a>
     or use our <a href="https://chat.sonoj.org"><i class="fw-icon-comments"></i>Chat (Matrix)</a> to just write in the public room.
     </h3>
     <h3>Do you have any wishes, who or what you would like to see? Then give us a suggestion.</h3>


    </div>
    <div class="ruler"></div>
    </div>
    -->
    <!-- END Speaker Search-->

    <span id="Start first Row"></span>
    <div class="container">
      <div class="featured-blocks">

        <div class="row">

          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-holquist.jpg" class="bw" alt="Photo of Adam Holquist">
              <div class="caption">
                <h3>Adam Holquist</h3>
                <h4>Erie, Pennsylvania, USA</h4>
                <p>
                Adam Holquist is a composer, musician, sound designer, and multi-media. He uses guitars, pianos, analog and
                digital synthesis, spoken word and field recordings, and a variety of hardware and software tools to create atmospheric and textural music which
                draws influence from a variety of sources; and has been an avid open source software enthusiast and advocate since 2011.
                </p>
                <p><a href="https://onewayness.com" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                <a href="https://youtube.com/onewayness" class="btn btn-default" role="button"><i class="fw-icon-youtube"></i></a>
                <a href="https://onewayness.bandcamp.com" class="btn btn-default" role="button"><i class="fw-icon-volume-up"></i></a></p>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-obsoleszenz.png" class="bw" alt="Photo of obsoleszenz">
              <div class="caption">
                <h3>obsoleszenz</h3>
                <h4></h4>
                <p>
                obsoleszenz is a Techno DJ that early on got annoyed by the gatekeeping prices of DJ equipment. Soon he started his journey by building MIDI controllers. With the possibilities of own hardware unleashed, he soon found himself coding his own mixer application, inspired by the features &amp; usability of the broad world of club &amp; techno mixers.
                </p>
                <p>
                <a href="https://nerdculture.de/@obsoleszenz" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                <a href="https://codeberg.org/obsoleszenz/" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                <a href="https://soundcloud.com/obsoleszenz" class="btn btn-default" role="button"><i class="fw-icon-volume-up"></i></a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-thielen.jpg" class="bw" alt="Photo of this.ven">
              <div class="caption">
                <h3>this.ven</h3>
                <h4>Düsseldorf, Germany</h4>
                Whenever Sven engages in a project he naturally chooses Free/Libre Open Source Software.
                As a graduate of media engineering and computer science his focus is networked audio,
                IT security and privacy. He plays guitar and produces music as this.ven.
                </p>
                <p>
                    <a href="https://this.ven.uber.space/" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-arndt.jpg" class="bw" alt="Photo of Christopher Arndt">
              <div class="caption">
                <h3>Christopher Arndt</h3>
                <h4>Cologne, Germany</h4>
                <p>
                Chris discovered his fascination with synthesizers at the tender age of 35. In his quest for creating music in the vein of the electronica heroes
                from yesteryear he became an expert in buying bargain used gear and writing and maintaining diverse FLOSS audio and MIDI tools
                but less so at actually finishing tracks. When he is not playing his vintage CP-70 electric piano he works as an independent freelance software developer.
                </p>
                <p>
                   <a href="https://soundcloud.com/spotlight-kyd" class="btn btn-default" role="button"><i class="fw-icon-volume-up"></i></a>
                   <a href="https://github.com/spotlightkid/" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                </p>
              </div>
            </div>
          </div>


        </div id="End_Row">


        </div>
    </div id="End_Featured_Block">
  </div id="End_Container">




    <span id="Start second Row"></span>
    <div class="container">
    <div class="featured-blocks">
    <div class="row">

         <div class="row">

          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-none.jpg" class="bw" alt="Photo of Julia Cramer">
              <div class="caption">
                <h3>Julia Cramer</h3>
                <h4>Bergisch-Gladbach, Germany</h4>
                <p>
                    Julia is a musician, conductor, vocal coach and linux user. She teaches Jazz Choir at the Cologne University of Music,
                    leads several vocal ensembles and is working towards her Ph.D. in music education.
                    All her digital creative work is carried out through open source software and she
                    published several articles on the possibilites of how to work digitally with choirs during the pandemic.
                </p>
                <p>
                   <!-- <a href="https://www.rncbc.org" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a> -->

                </p>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-florob.jpg" class="bw" alt="Photo of Florob">
              <div class="caption">
                <h3>Florian “Florob” Zeitz</h3>
                <h4>Hürth, Germany</h4>
                <p>
                Florian "Florob" Zeitz is an embedded software developer working on Audio over Ethernet and Audio over IP devices. In his free time he is a hobby musician and co-organizer of the Rust User Group Cologne.
                </p>
                <p>
                   <!-- <a href="https://www.rncbc.org" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a> -->

                </p>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-hilbricht.jpg" class="bw" alt="Photo of Nils Hilbricht">
              <div class="caption">
                <h3>Nils Hilbricht</h3>
                <h4>Cologne, Germany</h4>
                <p>
                Nils Hilbricht studied Music for teaching profession and „Tonsatz“ (music theory/historical composition) at the Hochschule für Musik und Tanz Köln.
                He works as a public school teacher for music and computer-science in Cologne.
                As a hobbyist programmer he is creating the Laborejo Software Suite. </p>
                <p>
                    <a href="https://www.hilbricht.net" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                    <a href="https://www.laborejo.org" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                </p>
              </div>
            </div>
          </div>


          </div id="End_Row">

        </div>
    </div id="End_Featured_Block">
  </div id="End_Container">
