<!-- Just the Title -->
<div class="container">
    <div class="other-title">
     <div class="col-sm-12 col-md-9">
        <h1>The Event</h1>
      </div>
  <div class="col-sm-12 col-md-3"></div> <!-- Right Column -->
</div>
<!-- Title End -->


<!-- Main written content -->
<div class="container">
    <div class="spacing">

<p>
The fourth annual Sonoj Convention will be held at the Chaos Computer Club Cologne, Heliosstrasse 6a, 50825 Cologne, Germany on the weekend of October 7th and 8th 2023.
</p>

<p>
You can visit, admission free, if you register beforehand on our website. For those who can not make it there will be live video streaming, as well as video recordings provided shortly after the event.
</p>

<p>
To get an impression of past conventions, please visit our <a href="https://www.sonoj.org">archive</a>, which also contains music and videos.
</p>

<p>
The theme of the convention is making music with free and open source software and hardware. That ranges from a single program up to a whole operating system. No matter the technology, the music is always at the center of it. Every talk, demonstration or workshop will be focused on music. To enable this we follow a top-down approach. E.g. we advise our speakers to start with a piece of music and use it as a reference frame for the rest of the talk.
</p>

<p>
Our presentations and workshops are “hands-on”. They are meant for musicians, composers, broadcasters, etc. who do not need to know anything about messing with the internals of their software. If you just want to record or create nice synthesized or sampled sounds with your computer – the Sonoj Convention is for you! We believe that open source software ultimately helps you to achieve your goals. So bring your computer and join other creators on site!
</p>

<p>
Everything else will hopefully be answered in our <a href="faq.html">FAQ</a>. If you have any questions or comments left please write a mail to <a href="mailto:info@sonoj.org">info@sonoj.org</a>.
</p>
    </div>


<!-- Map -->
<div class="spacing">
<h3 class="section-title">Location</h3>
<p>
    Chaos Computer Club Cologne<br>
    Heliosstrasse 6a<br>
    Ground Floor<br>
    50825 Cologne, Germany<br>
    Email: <a href="mailto:info@sonoj.org">info@sonoj.org</a>
</p>
</div> <!-- /spacing -->
<iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=6.9107356667518625%2C50.948772026933156%2C6.915209591388702%2C50.952056944002344&amp;layer=mapnik&amp;marker=50.95041451448784%2C6.912972629070282" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=50.95041&amp;mlon=6.91297#map=19/50.95041/6.91297">View Larger Map</a></small>




</div> <!-- container end -->
<!-- End main written content -->
