 <!-- Just the Title -->
<div class="container">
    <div class="other-title">
     <div class="col-sm-12 col-md-9">
        <h1>Schedule</h1>
        <h3>Talks, Workshops, Social Events</h3>
      </div>
  <div class="col-sm-12 col-md-3"></div> <!-- Right Column -->
</div>
<!-- Title End -->


<!-- Main written content -->
<div class="container">

    <!-- <p><h4>Video Live Stream: <a href="https://streaming.media.ccc.de/sonoj2023">https://streaming.media.ccc.de/sonoj2023</a></h4></p> -->

    <!-- <p>All times are given in Central European Time, which is UTC+1.</p> -->
    <!-- <p>All times are given in Central European Summer Time, which is UTC+2 (summer time) on Saturday and UTC+1 on Sunday.</p> -->
    <p>All times are given in Central European Summer Time, which is UTC+2.</p>

    <table width="100%" border="1">
        <tr>
            <th>Time</th>
            <th>Title</th>
            <th>Speaker</th>
        </tr>

        <tr>
            <td>Sat 10:40 - 11:00</td>
            <td>Welcome</td>
            <td>Nils Hilbricht (Sonoj)</td>
        </tr>

        <tr>
            <td>Sat 11:00</td>
            <td>Block A</td>
            <td></td>
        </tr>

        <!-- Example Entry for copy and paste
        <tr>
            <td></td>
            <td>Past, Present and Future of the JACK Audio Connection Kit</td>
            <td>Filipe 'falktx' Coelho</td>
        </tr>
        -->

        <tr>
            <td></td>
            <td>EQUIS - A DJ &amp; Performance Mixer</td>
            <td><a href="speakers.html">obsoleszenz</a></td>
        </tr>

        <tr>
            <td></td>
            <td>Remote Collaboration and Live Performance</td>
            <td><a href="speakers.html">Adam Holquist</a></td>
        </tr>

        <tr>
            <td></td>
            <td>“Ad amandum te factus sum, o cara” Bardcore Unveiled: The Creative Journey from Concept to Cover</td>
            <td><a href="speakers.html">Nils Hilbricht</a></td>
        </tr>


        <tr>
            <td>Sat 14:00</td>
            <td>Group Photo</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>Break</td>
            <td></td>
        </tr>

        <tr>
            <td>Sat 15:30</td>
            <td>Block B</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>MODEP with Pisound - Alternatives to the MOD Platform for Tinkerers</a></td>
            <td><a href="speakers.html">Sven Thielen (this.ven)</td>
        </tr>

        <tr>
            <td></td>
            <td>How to play FLOSS keyboards like it’s 1978</td>
            <td><a href="speakers.html">Christopher Arndt</a></td>
        </tr>

        <tr>
            <td></td>
            <td>Audio over Ethernet: AVB/TSN</td>
            <td><a href="speakers.html">Florian “Florob” Zeitz</a></td>
        </tr>

        <!-- Example Entry for copy and paste
        <tr>
            <td></td>
            <td>Vital: Introducing a new revolutionary wavetable synthesizer</td>
            <td>Tobiasz 'unfa' Karoń</td>
        </tr>
        -->

        <tr>
            <td></td>
            <td>Open "Lightning" slot to show something interesting in a few minutes.</td>
            <td>Short-term participation possible.</td>
        </tr>

        <tr>
            <td>Sat Evening and Night</td>
            <td>Get-together to talk, network (and maybe make some music in our Music Room).</td>
            <td></td>
        </tr>


        <tr>
            <td></td>
            <td>…</td>
            <td></td>
        </tr>


        <tr>
            <th>Time</th>
            <th>Title</th>
            <th>Speaker</th>
        </tr>

        <tr>
            <td>Sun 11:00</td>
            <td>Block C</td>
            <td></td>
        </tr>

        <!-- Example Entry for copy and paste
        <tr>
            <td></td>
            <td>Composition after the first minute of creativity is spent: style-agnostic tricks and techniques of all eras.</td>
            <td>Nils Hilbricht</td>
        </tr>
        -->

        <tr>
            <td></td>
            <td>Handing Over the Sound: Exploring Sequential Collaboration in Music</td>
            <td><a href="https://sonoj.org/2023/speakers.html">Julia Cramer</a></td>
        </tr>

        <tr>
            <td></td>
            <td>Sonoj Beyond the Convention - Building a Permanent Community</td>
            <td>Panel Discussion - Audience Discussion</td>
        </tr>


        <tr>
            <td></td>
            <td>Break (and preparation for the following challenge)</td>
            <td></td>
        </tr>

        <tr>
            <td>Sun 14:00 - 16:00</td>
            <td>One Hour Challenge. <small>It's two hours because we listen to the music and vote afterwards.</small></td>
            <td>Everyone</td>
        </tr>

        <tr>
            <td>Sun 16:00 - 16:10</td>
            <td>Farewell</td>
            <td></td>
        </tr>

    </table>

    </div> <!-- end spacing -->

    </div>
</div>
<!-- End main written content -->
