<h2 class="content-subhead">Sonoj Convention</h2>
<p>
The Sonoj Convention is a yearly event in Cologne (Germany) about music production with open source software. It features demonstrations, talks and hands-on workshops as well as a creative composition or production challenge.
Read more about the event at <a href="/">the main page</a>.
</p>
<p>Let's see if we can raise enough funds for the convention in just a week!
</p>


<h2 class="content-subhead">Tell me how!</h2>
<p>
    Great! There are two ways to help, besides visiting the event in person and donating in cash.
    <h3>Bank Transfer (preferred)</h3>
<pre>To Nils Hilbricht / Sonoj Convention
IBAN: DE34500105175557832057
BIC: INGDDEFFXXX
</pre>

<h3>Paypal (1.5% lost)</h3>
    <p>Use our Paypal E-Mail info@sonoj.org or this:</p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="NHLAG9LZE46SE">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="business" value="IDV76FF39PH6E3W">
    <input type="image" src="https://www.paypalobjects.com/en_US/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</p>


<h2 class="content-subhead">Why it would be good if you supported the Sonoj Convention</h2>
<p>
    Even if you don't attend personally you should consider supporting the Sonoj Convention by making a donation.
    </p>
    <p>A successful Sonoj Convention greatly benefits everyone:</p>
    <ul>
        <li>Creating and archiving knowledge: Valuable information, tips and tricks will be presented, discussed and <a href="/archive">recorded</a> for anyone to watch and learn. </li>
        <li>A moral boost for musicians and developers alike.</li>
        <li>"Deadline" character: Incentive to finally finish a piece of music before the event date, release new software or work on that tutorial video...</li>
        <li>Non-Profit: We only ask for the bare minimum to run the event (see below)</li>
        <li>Indepdence: We organize a community and user oriented event without the influence of corporate sponsors. Companies may also donate, but they will remain anonymous.</li>
    </ul>
</p>

<h2 class="content-subhead">What is the money used for?</h2>
<p>
    The Sonoj Convention is organized by volunteers. But we still have expenses. 2017 in descending order:
    <ul>
        <li>Insurances</li>
        <li>Venue (Electricity, Water, Internet for visitors)</li>
        <li>Display and Decoration (Banner, Flyer etc.)</li>
        <li>Logistics and Local Travel for speakers</li>
        <li>Website and Server</li>
        <li>Small items like "free" coffee for visitors, name tags etc.</li>
    </ul>
    If we raise more than we need the money will be used for the following year.
</p>


<h2 class="content-subhead">Imprint</h2>
<p>
    You can contact us by e-mail: <a href="mailto:info@sonoj.org">info@sonoj.org</a><br>
    The Sonoj Convention is managed by <a href="https://www.hilbricht.net">Nils Hilbricht</a> and the <a href="https://www.osamc.de">Open Source Audio Meeting Cologne</a>
</p>
