<h2 class="content-subhead">Sonoj Convention 2017</h2>
<p>
You can find the original site here:<br><a href="https://www.sonoj.org/2017">https://www.sonoj.org/2017</a>
</p>

<h2 class="content-subhead">Summary</h2>
<p>
    <ul>
    <li>4th and 5th of November 2017</li>
    <li>At the Chaos Computer Club in Cologne, Germany</li>
    <li>7 Speakers</li>
    <li>6 Talks, 2 Workshops, 1 Concert</li>
    <li>~35 Visitors</li>
    <li>Admission free, fully paid through donations in cash during the event and a successful crowdfunding campaign upfront</li>
    </ul>
</p>

<h2 class="content-subhead">Media</h2>
<p>
    <ul>
    <li>Video Recordings: <a href="https://media.ccc.de/c/sonoj2017">https://media.ccc.de/c/sonoj2017</a></li>
    <li>Video Recordings Mirror <a href="https://www.youtube.com/playlist?list=PLx_e9RsP8U0Lf6DwFp_QELYF0M4cOH-k4">on Youtube</a></li>
    <li>Challenge Results: <a href="https://archive.org/details/Sonoj2017CompositionChallenge">Sonoj2017CompositionChallenge</a> </li>
    <li>Results Direct Download: <a href="https://www.sonoj.org/2017/sonoj2017challenge.tar.gz">sonoj2017challenge.tar.gz</a></li>
    <li>Ardour session from the talk "Synthesizing EDM": <a href="https://www.sonoj.org/2017/Sonoj2017-Unfa-Ardour-Session.zip">Sonoj2017-Unfa-Ardour-Session.zip</a></li>
    <li>Radio Drama Workshop Samples: <a href="https://www.sonoj.org/2017/Sonoj_Radio_Drama_Workshop_Samples.zip">Sonoj_Radio_Drama_Workshop_Samples.zip</a></li>
    <li>Fantasy Soundtrack Slides: <a href="https://www.sonoj.org/archive/2017/2017-sonoj-fantasy-soundtrack.tar.gz">2017-sonoj-fantasy-soundtrack.tar.gz</a></li>
    </ul>

Our composition challenge was to make a one minute track of music integrating a telephone ring sample. They are licensed under CC-By-SA.
</p>
