<h2 class="content-subhead">Sonoj Convention 2023</h2>
<p>
You can find the original site here:<br><a href="https://www.sonoj.org/2023">https://www.sonoj.org/2023</a>
</p>

<h2 class="content-subhead">Summary</h2>
<p>
    <ul>
    <li>7th and 8th of October 2023</li>
    <li>At the Chaos Computer Club in Cologne, Germany</li>
    <li>7 Speakers</li>
    <li>7 Talks, Open Slot, One-Hour-Challenge</li>
    <li>~45 Visitors</li>
    <li>Admission free, independent event fully paid through private or anonymous donations.</li>
    </ul>
</p>


<h2 class="content-subhead">Media</h2>
<p>
    <ul>
    <li>Video Recordings: <a href="https://media.ccc.de/c/sonoj2023">https://media.ccc.de/c/sonoj2023</a></li>
    <li>Video Recordings Mirror <a href="https://www.youtube.com/watch?v=beEWIrq6zqc&list=PLx_e9RsP8U0JftCwyYLn0B29FLRUo_Hmr">on Youtube</a></li>
    <li>One Hour Challenge: <a href="https://sonoj.org/challenge/#sonoj2023">Results and Web Audio Player</a><br>Our composition challenge was to make a track of music integrating either Romanian monks singing or actual Romanian cows with their bells.</li>
    <li><a href="https://this.ven.uber.space/talks/20231007-modep-with-pisound/ ">MODEP with PiSound Slides</a></li>
    <li><a href="https://www.sonoj.org/archive/2023/2023-sonoj-julia-circle-composition.tar.gz">Circle Composition Slide Sources</a></li>
    <li><a href="https://www.osamc.de/archiv/2021kreiskomposition2/">Circle Composition Music and Ardour Archives</a></li>
    <li><a href="https://github.com/SpotlightKid/talk-sonoj-2023">How to play FLOSS keyboards like it's 1978 resources</a></li>
    <li><a href="https://www.sonoj.org/archive/2023/2023-10-10-Bardcore-Nils.ardour-session-archive">Bardcore Ardour Project</a></li>
    <li><a href="https://www.sonoj.org/archive/2023/2023-nils-lecdem-bardcore-all-sources.tar.gz">Bardcore LecDem All Sources</a></li>
    <li><a href="https://www.sonoj.org/archive/2023/2023-sonoj-photos-wolfang.zip">Photos by Wolfgang</a></li>
    </ul>
</p>
