<h2 class="content-subhead">Sonoj Convention 2019</h2>
<p>
You can find the original site here:<br><a href="https://www.sonoj.org/2019">https://www.sonoj.org/2019</a>
</p>

<h2 class="content-subhead">Summary</h2>
<p>
    <ul>
    <li>26th and 27th of October 2019</li>
    <li>At the Chaos Computer Club in Cologne, Germany</li>
    <li>8 Speakers</li>
    <li>8 Talks, Open Slot, One-Hour-Challenge</li>
    <li>~35 Visitors</li>
    <li>Admission free, independent event fully paid through private or anonymous donations.</li>
    </ul>
</p>


<h2 class="content-subhead">Media</h2>
<p>
    <ul>
    <li>Video Recordings: <a href="https://media.ccc.de/c/sonoj2019">https://media.ccc.de/c/sonoj2019</a></li>
    <li>Video Recordings Mirror <a href="https://www.youtube.com/watch?v=D4irOP6Rwe4&list=PLx_e9RsP8U0IyLGFwpXTRSp7EXyCJS6Oz">on Youtube</a></li>
    <li>One Hour Challenge: <a href="https://sonoj.org/challenge/#sonoj2019">Results and Web Audio Player</a><br>Our composition challenge was to make a track of music integrating a recording someone humming notes.</li>
    </ul>
</p>
