<h2 class="content-subhead">Sonoj Convention</h2>

<p>
The Sonoj Convention is an annual event in Cologne, Germany about music production with free and open source software.
It features demonstrations, talks and hands-on workshops. Meet like-minded people, learn insider knowledge and tricks, participate in our one-hour production challenge!
</p>

<div class="pure-g">
    <div class="pure-u-1-4">
        <img class="pure-img-responsive"  src="images/01.jpg" alt="Unfa">
    </div>
    <div class="pure-u-1-4">
        <img class="pure-img-responsive" src="images/02.jpg" alt="Concert">
    </div>
    <div class="pure-u-1-4">
        <img class="pure-img-responsive" src="images/03.jpg" alt="Challenge">
    </div>
    <div class="pure-u-1-4">
        <img class="pure-img-responsive" src="images/04.jpg" alt="Nils">
    </div>
</div>
<small>Photos 1,2,4 by Marc Groenewegen, Copyright 2017</small>

<h2 class="content-subhead">Archive</h2>
<p>
    The archive holds a collection of links, such as music, photos or video recordings from past conventions. You can find them sorted by year in the side bar menu or here:
    <ul>
        <li><a href="2017.html">2017</a></li>
        <li><a href="2018.html">2018</a></li>
        <li><a href="2019.html">2019</a></li>
        <li><a href="2023.html">2023</a></li>
        <li>In 2020, 2021 and 2022 the event could not take place due to the corona pandemic.</li>
    </ul>
</p>

<h2 class="content-subhead">Press Material</h2>
<p>
    You can use our logo by either downloading it and upload it to your server or by directly linking the files below.<br>
    You can scale it, change the color or file format. You can impose it on top of related images as logo or "watermark". Use it in any way, as long as it is related to the actual Sonoj Convention.<br>
    <br>
    The logo is <b>not</b> under a permissive license and can only be used in a press or documentary context. (free of charge, no royalties, no attribution)
</p>
<p>
    Click <a href="https://www.sonoj.org/logos">here</a> to see all logo files and formats.<br> <a href="https://www.sonoj.org/logos">https://www.sonoj.org/logos</a>
</p>



<h2 class="content-subhead">Imprint</h2>
<p>
    You can contact us by e-mail: <a href="mailto:info@sonoj.org">info@sonoj.org</a><br>
    The Sonoj Convention and this archive are managed by <a href="https://www.hilbricht.net">Nils Hilbricht</a> and the <a href="https://www.osamc.de">Open Source Audio Meeting Cologne</a>

    <h3>Imprint for legal purposes (Germany)</h3>
    <p>
        Nils Hilbricht<br>
        c/o RA Matutis<br>
        Berliner Straße 57<br>
        14467 Potsdam<br>
        Deutschland<br>
        Tel: 0221 98657450
    </p>
</p>
