<h2 class="content-subhead">Sonoj Convention 2018</h2>
<p>
You can find the original site here:<br><a href="https://www.sonoj.org/2018">https://www.sonoj.org/2018</a>
</p>

<h2 class="content-subhead">Summary</h2>
<p>
    <ul>
    <li>27th and 28th of October 2018</li>
    <li>At the Chaos Computer Club in Cologne, Germany</li>
    <li>9 Speakers</li>
    <li>8 Talks, 2 Workshops, Open Slot</li>
    <li>~35 Visitors</li>
    <li>Admission free, independent event fully paid through private or anonymous donations.</li>
    </ul>
</p>


<h2 class="content-subhead">Media</h2>
<p>
    <ul>
    <li>Video Recordings: <a href="https://media.ccc.de/c/sonoj2018">https://media.ccc.de/c/sonoj2018</a></li>
    <li>Video Recordings Mirror <a href="https://www.youtube.com/watch?v=HZIGP2xiIDQ&list=PLx_e9RsP8U0Jf2F4LqP4x2feYKj0J4fWJ">on Youtube</a></li>
    <li>One Hour Challenge: <a href="https://sonoj.org/challenge/#sonoj2018">Results and Web Audio Player</a><br>Our composition challenge was to make a two minute track of music integrating a recording of a moving chair.</li>
    </ul>
</p>



<h2 class="content-subhead">Software and Recommendations</h2>
<p>
    Music and software used by talks and workshop as well as general recommendations how to participate in the One Hour Challenge.
</p>
<h3 class="content-subhead">MuseScore Workshop</h3>
<p>The workshop will introduce you to working with MuseScore,
 i.e. have a practical part. For this, you’re invited to bring
 your own laptop <strong>with MuseScore 2.x pre-installed</strong>.
 (Do not install version 3.x which is still alpha. Version 1.x
 looks different and lacks many features, so please look for a
 2.x release.) It may be possible to borrow a laptop on-site.</p>
<h4>Linux users</h4>
<p>Debian stable and oldstable users please <a
 href="https://backports.debian.org/Instructions/#index2h2">enable
 Debian backports</a> (backports-sloppy for oldstable) and then
 install MuseScore with:</p><ul>
 <li><tt>apt-get -t jessie-backports-sloppy install musescore</tt> # oldstable</li>
 <li><tt>apt-get -t stretch-backports install musescore</tt> # stable</li>
 <li><tt>apt-get install musescore</tt> # testing or unstable</li>
</ul>
<p>Ubuntu and Linux Mint users can use <a
 href="https://launchpad.net/~mscore-ubuntu/+archive/ubuntu/mscore-stable">the
 official PPA</a> to get the latest MuseScore version (<a
 href="https://musescore.org/en/musescore-2-ubuntu-14.04-and-above">instructions</a>).</p>
<p>Debian stable and Ubuntu 16.04 already contain a MuseScore 2.0 package,
 Ubuntu 18.04 contains MuseScore 2.1; while these are older than the
 current MuseScore 2.3.2 they will suffice for the workshop.</p>
<h4>Mac, Windows, other Linux distros</h4>
<p>Users of other operating systems please look at the official <a
 href="https://musescore.org/en/download">MuseScore downloads</a> page.</p>
<h4>Workshop notes</h4>
<p>It’s advisable to also bring headphones. Many people in a room toying with
 sound output at the same time is bound to be slightly cacophonic.</p>
<p>Please look at the <a
 href="http://www.mirbsd.org/~tg/mscore-workshop/notes/linklist.htm">list
 of additional links</a>.</p>


<h3 class="content-subhead">One Hour Challenge</h3>
<p>
    Your task is to make piece of music (in the broadest possible sense) in one hour, on your own computer, brought to the venue.
    <br>At the start of the hour you will be given an audio sample in .wav format that must be somehow incorporated into your music.
    <p>You can use any additional programs, as long as they are open source software, as well as resources (samples etc.). You are not required to create music from the sample, just with the sample, using it once is technically enough.</p>
    <p>For example:</p>
    <ul>
        <li>Use the whole sample, or parts of it, as sound effect.</li>
        <li>Pitch Shift (see below) and build melodies or rhythms</li>
        <li>Use as 'arbitrary waveform' for special synthesizers</li>
        <li>Create atmospheric backdrops or whole ambient soundscapes through timestreching, reverb, reverse, filter automation etc.</li>
    </ul>
    <p>
    You should practice before the convention by learning ways to use .wav files musically. It is allowed to create project files and prepared empty(!) sessions on your computer to quickly be able to start. Here are some ideas:
    </p>
    <ul>
        <li><a href="https://www.audacityteam.org/">Audacity</a> as general purpose destructive editor. Especially to cut. Includes Paulstretch as last resort :)</li>
        <li>Load the .wav into your DAW like <a href="https://ardour.org">Ardour</a>, <a href="http://qtractor.org/">QTractor</a> and manually duplicate and arrange. This is a lot of work, better use the following:</li>
        <li>Ardour has a tool called <a href="http://manual.ardour.org/editing/rhythm-ferret/">Rhythm Ferret</a> to "speed up the usually labor intensive task of slicing and adjusting a sound region to match a specific time grid."</li>
        <li><a href="https://www.audacityteam.org/">Audacity</a> as general purpose destructive editor. Especially to cut. Includes Paulstretch as last resort :)</li>
        <li><a href="https://samplv1.sourceforge.io/">samplv1</a> polyphonic sampler. Can load a single sound file and makes it playable by midi notes, including pitch shifting. Has some filters as well.</li>
        <li><a href="https://drumkv1.sourceforge.io/">drumkv1</a> drum-kit sampler. Loads multiple sound files and assign them to midi notes, play back without shift pitching. + some filters.</li>
        <li><a href="https://github.com/petri-foo/Petri-Foo">Petri-Foo</a> a sampler. Same principle as above: load sound file, connect to midi. Has slightly different playback modes effects/filters compared to samplv1, but overall comparable feature-set.</li>
        <li><a href="https://rock-hopper.github.io/shuriken/">Shuriken</a> a "beat slicer".</li>
        <li><a href="https://github.com/rghvdberg/ninjas">"Ninjas Is Not Just Another Slicer"</a>. Another slicer :)</li>
        <li><a href="http://openavproductions.com/fabla2/">Fabla2</a> is "an advanced sampler with multiple layers, banks, pads, integrated FX and routing." Fabla 1 might be a viable and more readily available option as well.</li>


    </ul>

<h3 class="content-subhead">Sonic Pi</h3>
<p>
    Sonic Pi Version 3.2 will be used in the presentation.
    <ul>
        <li><a href="http://www.sonic-pi.net/">http://www.sonic-pi.net/</a></li>
        <li><a href="https://www.youtube.com/channel/UCT_roO1KTLkJTO-4qQPe_kg">Speakers Youtube Channel</a> with Sonic Pi music</li>
        <li><a href="https://soundcloud.com/mbutz/tracks/">More music by the speaker</a></li>
        <li><a href="http://www.sonic-pi.net/tutorial.html">Recommended Tutorial</a></li>
        <li><a href="https://github.com/samaaron/sonic-pi">Github Page</a>, incl. link to guide for compiling yourself</li>
        <li><a href="https://github.com/mbutz/sonic-pi-resources">Speakers Sonic Pi Resources</a></li>
        <li><a href="https://github.com/mbutz/sonicpi-leuphana-ws1718">German Tutorial by the Speaker</a></li>

    </ul>
</p>

<h3 class="content-subhead">Drumgizmo</h3>
<p>
    DrumGizmo 0.9.16 is the stable version at the time of Sonoj Convention 2018.
    <ul>
        <li><a href="https://www.drumgizmo.org">https://www.drumgizmo.org</a></li>
        <li><a href="https://www.ardour.org">Ardour is used as Sequencer and DAW</a></li>
        <li><a href="https://www.drumgizmo.org/wiki/doku.php?id=getting_drumgizmo#latest_source_code">The Editor is currently only available from git</a></li>

    </ul>
</p>

<h3 class="content-subhead">Beyond Static Sound Design</h3>
<p>
    <ul>
        <li><a href="https://www.ardour.org">Ardour 5.12</a></li>
    </ul>
</p>
