<!-- Just the Title -->
<div class="container">
    <div class="other-title"> 
     <div class="col-sm-12 col-md-9">
        <h1>Donate</h1>                
      </div>  
  <div class="col-sm-12 col-md-3"></div> <!-- Right Column -->
</div>      
<!-- Title End -->


<!-- Main written content -->
<div class="container">      
    
    
    <div class="spacing">          
        <h2>The Sonoj Convention is free of charge for visitors!</h2>
        
        <p>While other conventions and conferences may cost up to hundreds of Euros, we succesfully organized all conventions so far through donations.</p>
        <p>There are two ways to help, besides visiting the event in person and donating in cash. The amount is entirely your choice.</p>
    
    <h3>Bank Transfer (Preferred - No extra fees)</h3>
        <pre style="color: #000000;">To Nils Hilbricht / Sonoj Convention
IBAN: DE76500105175418265664
BIC: INGDDEFFXXX</pre>

    
    <h3>Paypal (1.5% loss to fees)</h3>
    <p>Use our Paypal E-Mail info@sonoj.org or this:</p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="NHLAG9LZE46SE">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="business" value="IDV76FF39PH6E3W">
    <input type="image" src="https://www.paypalobjects.com/en_US/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    
    </div>

    

    <div class="spacing">      
        <h2>Why it would be good if you supported the Sonoj Convention</h2>
        <p>
            Even if you don't attend personally you should consider supporting the Sonoj Convention by making a donation.
            </p>
            <p>A successful Sonoj Convention greatly benefits everyone:</p>
            <ul>
                <li>Creating and archiving knowledge: Valuable information, tips and tricks will be presented, discussed and <a href="/archive">recorded</a> for anyone to watch and learn. </li>
                <li>A moral boost for musicians and developers alike.</li>
                <li>"Deadline" character: Incentive to finally finish a piece of music before the event date, release new software or work on that tutorial video...</li>
                <li>Non-Profit: We only ask for the bare minimum to run the event (see below)</li>
                <li>Indepdence: We organize a community and user oriented event without the influence of corporate sponsors. Companies may also donate, but they will remain anonymous.</li>
            </ul>
        </p>
    </div>
    
    
    
    <div class="spacing">      
        <h2>What is the money used for?</h2>
        <p>
            The Sonoj Convention is organized by volunteers. But we still have expenses. For example 2018 in descending order:
            <ul>
                <li>Insurance</li>
                <li>Venue (Electricity, Water, Internet for visitors)</li>
                <li>Display and Decoration (Banner, Flyer etc.)</li>
                <li>Logistics and Local Travel for speakers</li>
                <li>Website and Server</li>
                <li>Small items like "free" coffee for visitors, name tags etc.</li>
            </ul>
            If we raise more than we need the money will be used for the following year.
        </p>                 
    </div>
    
    
</div>
<!-- End main written content --> 

