  <div class="container">
    <div class="other-title">
      <div class="col-sm-12 col-md-9">
        <h1>Speakers 2019</h1>
        <!-- <h3>You could be one of them!</h3> -->
      </div>
      <div class="col-sm-12 col-md-3"></div>
    </div>
  
  
    <!--
      <div class="container"> 
    <div class="subscribe">
       
     
     <h3>Talks to find speakers and lecturers have begun. If you would like to make a contribution,
     please send an informal and short e-mail with your ideas to <a href="mailto:info@sonoj.org">info@sonoj.org</a></h3>
     <h3>Do you have any wishes, who or what you would like to see? Then give us a suggestion.</h3>
    
        
    </div> 
    <div class="ruler"></div>
    </div> 
    -->    

      
      
    <div class="container">        
      <div class="featured-blocks">   
  
        <div class="row">            
            
          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-karon.jpg" class="bw" alt="">
              <div class="caption">
                <h3>Tobiasz 'Unfa' Karoń</h3>
                <h4>Warsaw, Poland</h4>
                <p>
                Tobiasz Karoń, commonly known as unfa is a music producer, vocalist and a graphic designer. He's exclusively using open-source software and Linux
                for all his work. He's sharing his experience, knowledge and passion for music production and sound design through videos and livestreams.</p>
                <p><a href="http://www.unfamusic.com" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                <a href="https://www.facebook.com/unfamusic/" class="btn btn-default" role="button"><i class="fw-icon-facebook"></i></a>
                <a href="https://www.youtube.com/unfa000" class="btn btn-default" role="button"><i class="fw-icon-youtube"></i></a>
                <a href="https://unfa.bandcamp.com/" class="btn btn-default" role="button"><i class="fw-icon-volume-up"></i></a></p>
              </div>
            </div>
          </div> 
          
      
          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-kuhr.jpg" class="bw" alt="Photo of Christoph Kuhr">
              <div class="caption">
                <h3>Cristoph Kuhr</h3>
                <h4>Cologne, Germany</h4>
                <p>
                Cristoph Kuhr is a software developer and researcher in the domain of audio and video processing and 
                transport, with strong background in electronic engineering and 18 years of experience
                in audio engineering.
                Employed at the department for internet program distribution of the WDR Cologne. 
                </p>
                <p>
                <a href="http://www.christophkuhr.de" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                </p>
              </div>
            </div>
          </div>
         
          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-coelho.jpg" class="bw" alt="Photo of Filipe 'falktx' Coelho">
              <div class="caption">
                <h3>Filipe 'falktx' Coelho</h3>
                <h4>Portugal</h4>
                <p>Filipe Coelho is a self-taught software developer and opensource enthusiast, loves programming, music and Japanese culture.                
                <br>                
                He created the KXStudio Linux Distribution, the famous Carla Plugin Host and is currently the maintainer of the JACK Audio Connection Kit.
                </p>
                <p>
                    <a href="http://www.falktx.com" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>                    
                    <a href="http://kx.studio" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>                                        
                </p>
              </div>
            </div>
          </div> 
          
          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-nyeng.jpg" class="bw" alt="Photo of Bent Bisballe Nyeng">
              <div class="caption">
                <h3>Bent Bisballe Nyeng</h3>
                <h4>Aarhus, Denmark</h4>
                <p>
                    Bent Bisballe Nyeng, or deva as he is known to many, is a Danish software developer specialized in embedded, linux and open source
                    software. He has a passion for drumming and audio production which in 2008 lead to the creation of the drumgizmo project of which he is still
                      the lead developer today.
                </p>                                
                <p>
                    <a href="https://www.drumgizmo.org" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>                    
                    <a href="http://www.seedofheresy.com" class="btn btn-default" role="button"><i class="fw-icon-volume-up"></i></a>                                        
                </p>
              </div>
            </div>
          </div> 
 
        
        </div> <!-- End row -->          
          
        
        </div>   
    </div> <!-- Featured Block -->  
  </div> <!--End Container -->
    
    
    
    <!-- Second row -->
    <div class="container">        
    <div class="featured-blocks">   
    <div class="row">            
            
         <div class="row">     
          
          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-geisweiller.jpg" class="bw" alt="Photo of Nil Geisweiller">
              <div class="caption">
                <h3>Nil Geisweiller</h3>
                <h4>Sofia, Bulgaria</h4>
                <p>
                Nil Geisweiller is a Free and Open Source Software advocate, AI
                researcher and music enthusiast. He has contributed to different FOSS
                projects, including music software such as MusE Sequencer and
                Ardour. He is passionate about trackers and more regular DAWs and
                would like to build a bridge between them.                       
                </p>
                <p>
                    <a href="https://soundcloud.com/asublin" class="btn btn-default" role="button"><i class="fw-icon-volume-up"></i></a>                    
                    <a href="https://www.youtube.com/user/asublin" class="btn btn-default" role="button"><i class="fw-icon-youtube"></i></a>                                        
                    <a href="https://github.com/ngeiswei" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>                                        
                </p>
              </div>
            </div>
          </div> 
          
          
          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-nettingsmeier.jpg" class="bw" alt="Photo of Jörn Nettingsmeier">
              <div class="caption">
                <h3>Jörn Nettingsmeier</h3>
                <h4>Amsterdam, Netherlands</h4>
                <p>
                Jörn Nettingsmeier lives in Amsterdam and works freelance as a sound, lights, and projection designer. All he knows, so he says, has been taught to him by other people, and all software he uses was written by someone else.
                </p>
                <!-- weblinks  -->
              </div>
            </div>
          </div> 

          
          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-capela.jpg" class="bw" alt="Photo of Rui Nuno Capela">
              <div class="caption">
                <h3>'rncbc' Rui Nuno Capela</h3>
                <h4>Portugal</h4>
                <p>
                rncbc aka. Rui Nuno Capela is moderately active in the free, open
                source community, with an extensive participation and contribution in
                developing audio and MIDI software dedicated to the GNU/Linux platform,
                as being the primary author of QjackCtl, Qtractor and many more.         
                </p>
                <p>
                    <a href="https://www.rncbc.org" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>                    
                    <a href="http://qtractor.org" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>
                </p>
              </div>
            </div>
          </div> 
          
          
          <div class="col-md-3">
            <div class="thumbnail">
              <img src="images/image-hilbricht.jpg" class="bw" alt="Photo of Nils Hilbricht">
              <div class="caption">
                <h3>Nils Hilbricht</h3>
                <h4>Cologne, Germany</h4>
                <p>
                Nils Hilbricht studied Music for teaching profession and „Tonsatz“ (music theory/historical composition) at the Hochschule für Musik und Tanz Köln. 
                He works as a public school teacher for music and computer-science in Cologne. 
                As a hobbyist programmer he is creating the Laborejo Software Suite. </p>
                <p>
                    <a href="https://www.hilbricht.net" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>                    
                    <a href="https://www.laborejo.org" class="btn btn-default" role="button"><i class="fw-icon-globe"></i></a>                                        
                </p>
              </div>
            </div>
          </div> 
          

          
        </div> <!-- End row -->
    
      </div>   
    </div> <!-- Featured Block -->  
  </div> <!--End Container -->

