    <div class="container">
          <div class="site-footer">
            <div class="row">
              
              
              <div class="col-sm-6 col-md-3">            
                <div class="block">
                  <h2></h2>                  
                </div>
              </div>   

              
              <div class="col-sm-6 col-md-3">
                <div class="block">
                  <h2>Useful Links</h2>                  
                  <p>
                    <a href="https://www.sonoj.org/archive">Sonoj Archive</a> <br>                    
                    <a href="https://libremusicproduction.com/">Libre Music Production</a> <br>
                </p>
                
        
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="block">
                  <h2>social media</h2>
                  <ul style="list-style-type:none;">
                  <li><a href="https://kiwiirc.com/nextclient/#irc://irc.freenode.net/#sonoj"><i class="fw-icon-comments"></i> IRC Chat #sonoj@freenode</a></li>
                  <li><a href="https://twitter.com/SonojConvention"><i class="fw-icon-twitter "></i> Twitter</a></li>
                  <li><a href="https://www.youtube.com/channel/UCRETFHZgyoUMyUxz3k9lrZA"><i class="fw-icon-youtube"></i> Youtube</a></li>                                   
                  </ul>                  
                  </div>
              </div>
              
              <div class="col-sm-6 col-md-3">
                <div class="block">
                   
                  <h2>Imprint</h2>
                  <p>©2019 <a href="https://www.hilbricht.net">Nils Hilbricht</a><br>All rights reserved</p>
                  <p>See <a href="contact.html">contact</a> for more.</p>

                </div>
              </div>
            </div>
          </div>
        </div>    
    
    
     <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
 	<script src="js/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="js/contact.js"></script>
	
       
  </body>
</html>
