 <!-- Just the Title -->
<div class="container">
    <div class="other-title"> 
     <div class="col-sm-12 col-md-9">
        <h1>Schedule</h1>        
        <h3>Talks, Workshops, Social Events</h3>
      </div>  
  <div class="col-sm-12 col-md-3"></div> <!-- Right Column -->
</div>      
<!-- Title End -->


<!-- Main written content -->
<div class="container">      
    <div class="spacing">      

    

    <div class="spacing">     

    <!-- p><h4>Video Live Stream: <a href="https://streaming.media.ccc.de/sonoj2018">https://streaming.media.ccc.de/sonoj2018</a></h4></p> -->

    <p>All times are given in Central European Time, which is UTC+2 (summer time) on Saturday and UTC+1 on Sunday.</p>

    <table width="100%" border="1">
        <tr>
            <th>Time</th>
            <th>Title</th>
            <th>Speaker</th>
        </tr>

        <tr>
            <td>Sat 10:40 - 11:00</td>
            <td>Welcome</td>
            <td>Nils Hilbricht (Sonoj)</td>
        </tr>

        <tr>
            <td>Sat 11:00</td>
            <td>Block A</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>Past, Present and Future of the JACK Audio Connection Kit</td>
            <td>Filipe 'falktx' Coelho</td>
        </tr>

        <tr>
            <td></td>            
            <td>A song in Qtractor from scratch</td>
            <td>'rncbc' Rui Nuno Capela</td>
        </tr>

        <tr>
            <td></td>
            <td>How to record your own sample library of your favorite acoustic instrument.</td>
            <td>Christoph Kuhr</td>
        </tr>

        <tr>
            <td>Sat 14:00</td>
            <td>Group Photo</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>Break</td>
            <td></td>
        </tr>
        
        <tr>
            <td>Sat 15:30</td>
            <td>Block B</td>
            <td></td>
        </tr>        
        
        <tr>
            <td></td>
            <td>Vital: Introducing a new revolutionary wavetable synthesizer</td>            
            <td>Tobiasz 'unfa' Karoń</td>
        </tr>               

        <tr>
            <td></td>
            <td>pi fidelity - breathing new life into old speakers</td>
            <td>Jörn Nettingsmeier</td>
        </tr>
                
        <tr>
            <td></td>
            <td>Open slot to show something interesting in a few minutes.</td>
            <td>Short-term participation possible.</td>
        </tr>

        <tr>
            <td>Sat Evening and Night</td>
            <td>Get-together to talk and network.</td>
            <td></td>
        </tr>

        
        <tr> 
            <td></td>            
            <td>…</td>
            <td></td>
        </tr>


        <tr>
            <th>Time</th>
            <th>Title</th>
            <th>Speaker</th>
        </tr>

        <tr>
            <td>Sun 10:30</td>
            <td>Block C</td>
            <td></td>
        </tr>

        
        <tr>
            <td></td>
            <td>Composition after the first minute of creativity is spent: style-agnostic tricks and techniques of all eras.</td>
            <td>Nils Hilbricht</td>
        </tr>

        <tr>
            <td></td>
            <td>From Tracker to Pianoroll and Back.</td>
            <td>Nil Geisweiller</td>
        </tr>

        
        <tr>
            <td></td>
            <td>Introduction to making a DrumGizmo drumkit from an existing sample set.</td>
            <td>Bent Bisballe Nyeng</td>
        </tr>        
        
        <tr>
            <td></td>
            <td>Open Source Music Nexus Challenge - Awards Ceremony and Summary</td>
            <td>Christopher Arndt (OSAMC)</td>
        </tr>        
        
        
        <tr>
            <td></td>
            <td>Break</td>
            <td></td>
        </tr>

        <tr>
            <td>Sun 15:00 - 17:00</td>
            <td>One Hour Challenge. <small>It's two hours because we listen to the music and vote afterwards.</small></td>
            <td>Everyone</td>
        </tr>

        <tr>
            <td>Sun 17:00 - 17:10</td>
            <td>Farewell</td>
            <td></td>
        </tr>

    </table>
        
    </div> <!-- end spacing -->

    </div>
</div>
<!-- End main written content --> 

