<div class="container">
    <div class="other-title"> 
     <div class="col-sm-12 col-md-9">
        <h1>Visitor Registration</h1>        
        <!-- <h3>Limited Seats</h3> -->
      </div> 
 
      <div class="col-sm-12 col-md-3"></div> <!-- Right Column -->
    </div>      


<!-- Main written content -->
    <div class="container">      
        <div class="spacing">      
      
                    
            <p>
                Use the form below to send us your registration as visitor, we just need your name
                and e-mail address. You can also write directly to <a href="mailto:info@sonoj.org">info@sonoj.org</a> .
            </p>
            <p>
                Entry is free. Your registration is valid for both days.
            </p> 
        
      
        </div>
    </div>

<!-- End main written content -->
    
    <!-- Visitor Registration Bar -->
    <div class="container">
      <div class="subscribe">
           <h1>Visitor</h1>                 
           <form class="form-inline " role="form" action="#" id="registration-form">
              <div class="row">
              <div class="form-group  col-md-4">
                <label class="sr-only" for="fullname">Your Full Name</label>
                <input type="text" class="form-control " id="fname" name="fname" placeholder="Your Full Name">
              </div>
              <div class="form-group col-md-4">
                <label class="sr-only" for="emailaddress">Password</label>
                <input type="email" class="form-control  " id="email" name="email" placeholder="E-Mail Address">
              </div>
              
              <button type="submit" class="btn btn-default" id="registration-submit-btn">register</button>
              
           </div>
        
        </form>
       

    </div> <!-- subscribe end-->
    
    <div class="ruler"></div>
    </div>  <!-- registration container end-->

