<h1>The Sonoj Music Producing Challenge</h1>

<p>The contest consists of three phases:</p>

<ol>
<li>Introduction (~10min)</li>
<li>Make Music (1 hour)</li>
<li>Listening and Voting (~50min)</li>
</ol>


<h3>Introduction</h3>

<p>We explain the rules and show you where to download the sample .wav file.
Also we show you how to upload your result afterwards.</p>

<h3>Rules for the music making phase</h3>

<ol>
<li>You have one hour to create a piece of music (in the broadest sense)</li>
<li>The music must incorporate the sample, a short .wav file revealed and provided by the organizers during the introduction</li>
<li>The resulting tune should be no longer than 1 (one) minute</li>
<li>At least one open source music program of your choice must be used in an important step (see recommendations below)</li>
<li>You can prepare at home and practise. Empty sessions with your favourite programs, instruments and effects already loaded are allowed.</li>
<li>The end result should be rendered to flac or wav and uploaded to a provided location</li>
<li>The file name of your entry should be &ldquo;Artist_Title&rdquo;. Spaces in the filename are ok, but use only one underscore please. We will use that to automatically split composer and track.</li>
<li>You can use all of the following (and more): Midi Hardware, Hardware Synthesizers etc., Recording with a microphone, Sample Libraries (your own or third party)</li>
<li>Please keep in mind that the spirit of the event is to produce something of your own in an hour. Preparing, or buying, a one minute piece of music at home and simply putting the sample on top is no fun. Try to do everything within the hour.</li>
</ol>


<h3>Listening and Voting</h3>

<p>Tunes will be played in a random order. The track title will be announced, but not the author.</p>

<p>While listening you can give a vote from 0 to 5 (5 is best,  3 is default and means &lsquo;indifferent&rsquo;) on an automatically generated web form. It&rsquo;s URL will be revealed in time.
Voting for you own track is allowed.</p>

<p>After voting the results will be immediately available and announced. We will then interview the winner, and give them a chance to talk about the software they used and how they approached writing the tune.</p>

<h3>Recommendations</h3>

<p>Even if you have never used open source music software or in fact any such software you should still participate.</p>

<h4>General recommendations and Base Programs</h4>

<ul>
<li>For beginners: <a href="http://libremusicproduction.com/workflow">http://libremusicproduction.com/workflow</a></li>
<li>Ardour <a href="http://www.ardour.org">http://www.ardour.org</a> , a traditional DAW setup that requires further instrument and audio effect plugins</li>
<li><a href="https://lmms.io/">https://lmms.io/</a> LMMS for a more all-in-one approach</li>
<li><a href="http://www.audacityteam.org/">http://www.audacityteam.org/</a> Audacity for a so called &ldquo;destructive&rdquo; workflow, aka. multi track audio editing. It is still fun but will not yield the most &ldquo;musical&rdquo; results.</li>
<li>Carla Plugin Host <a href="https://kx.studio/Applications:Carla">https://kx.studio/Applications:Carla</a> , Carla is an audio plugin host, with support for many audio drivers and plugin formats.</li>
<li>Non-Session-Manager <a href="http://non.tuxfamily.org/wiki/Non%20Session%20Manager">http://non.tuxfamily.org/wiki/Non%20Session%20Manager</a> , a program for linux to remember which programs were in your session and start, stop and save them all at once.</li>
</ul>


<h4>Workflow ideas</h4>

<p>You are not required to create music from the sample, just with the sample, using it once is technically enough.</p>

<p>You should practice before the convention by learning ways to use .wav files musically. It is allowed to create project files and prepared empty(!) sessions on your computer to quickly be able to start. Here are some ideas:</p>

<ul>
<li>Use the whole sample, or parts of it, as sound effect.</li>
<li>Pitch Shift (see below) and build melodies or rhythms</li>
<li>Use as &lsquo;arbitrary waveform&rsquo; for special synthesizers</li>
<li>Create atmospheric backdrops or whole ambient soundscapes through timestreching, reverb, reverse, filter automation etc.</li>
</ul>


<h4>Programs to handle sample files</h4>

<p>You can use any additional programs, as long as they are open source software, as well as resources (samples etc.).</p>

<p>However, here are some programs that are specifically made to handle short sample files. There may be more.</p>

<ul>
<li>Audacity as general purpose destructive editor. Especially to cut. Includes Paulstretch as last resort :)

<ul>
<li><a href="https://www.audacityteam.org/">https://www.audacityteam.org/</a></li>
</ul>
</li>
<li>Load the .wav into your DAW and manually duplicate and arrange. This is a lot of work, better use the following:</li>
<li>Ardour has a tool called Rhythm Ferret to &ldquo;speed up the usually labor intensive task of slicing and adjusting a sound region to match a specific time grid.&rdquo;</li>
<li>Ninjas 2- a sample slicer audio plugin: quick slicing of sample and mapping slices to midi note numbers.

<ul>
<li><a href="https://github.com/rghvdberg/ninjas2">https://github.com/rghvdberg/ninjas2</a></li>
</ul>
</li>
<li>samplv1 polyphonic sampler. Can load a single sound file and makes it playable by midi notes, including pitch shifting. Has some filters as well.

<ul>
<li><a href="https://samplv1.sourceforge.io">https://samplv1.sourceforge.io</a></li>
</ul>
</li>
<li>drumkv1 drum-kit sampler. Loads multiple sound files and assign them to midi notes, play back without shift pitching. + some filters.

<ul>
<li><a href="https://drumkv1.sourceforge.io">https://drumkv1.sourceforge.io</a></li>
</ul>
</li>
<li>Petri-Foo a sampler. Same principle as above: load sound file, connect to midi. Has slightly different playback modes effects/filters compared to samplv1, but overall comparable feature-set.

<ul>
<li><a href="https://github.com/petri-foo/Petri-Foo">https://github.com/petri-foo/Petri-Foo</a></li>
</ul>
</li>
</ul>

